/* variables */
/* color */
/* padding */
/* box-shadow */
/* breakpoints */
/* mixins */
/* color */
/* padding */
/* box-shadow */
/* breakpoints */
/* media */
/* operation button */
/* font & icons */
/* font */
.bigtitle {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 30px;
}

.subtitle {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  margin: 10px 0 10px;
}

.title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
}

.menutitle {
  font-family: "Shrikhand";
  font-weight: 200;
  font-size: 30px;
}

.description {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  margin: 0 0 10px;
}

.price {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 18px;
}

/* icons */
.fas, .far {
  color: #5E5E5E;
  font-size: 25px;
}

/* body */
.body {
  margin: 0;
}

/* header */
.header {
  padding: 40px 50px;
  display: flex;
  align-items: center;
}
.header__logo {
  margin: 0 auto;
}

/* homepage */
/* searchbar */
.searchbar {
  padding: 15px 0 15px 0;
  background-color: #ebebeb;
  box-shadow: 0px 5px 0px inset #dfdfdf;
}
.searchbar__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar__content .fa-map-marker-alt {
  color: #5E5E5E;
}
.searchbar__content__champ {
  margin-left: 15px;
  background: none;
  border: none;
  width: 160px;
}

/* discover */
.discover {
  padding: 30px 50px;
  background-color: #f5f5f5;
  text-align: center;
}
.discover a {
  text-decoration: none;
}
.discover__button {
  padding: 5px;
  margin: 40px auto;
  width: 250px;
  color: #FFF;
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 10px #858585;
}

/* operation */
.operation {
  padding: 50px;
}
@media (min-width: 880px) {
  .operation {
    padding: 50px 50px 90px 50px;
  }
}
.operation__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  padding-left: 20px;
}
.operation__wrapper__content {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-bottom: 50px;
}
@media (min-width: 600px) {
  .operation__wrapper__content {
    width: 48%;
  }
}
@media (min-width: 880px) {
  .operation__wrapper__content {
    width: 30%;
  }
}
.operation__wrapper__content__number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  background-color: #9356DC;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  transform: translateX(-20px);
}
.operation__wrapper__content__icon {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  box-shadow: 3px 3px 12px #dfdfdf;
  padding: 10px 20px;
  border-radius: 30px;
  width: 100%;
  height: 100%;
}
.operation__wrapper__content__icon:hover {
  background-color: #e4d5f6;
  transition: 300ms ease-in-out;
}
.operation__wrapper__content__icon:hover {
  box-shadow: 3px 3px 12px #b1b1b1;
  transition: 300ms ease-in-out;
}
.operation__wrapper__content__icon .fas {
  padding: 0 30px 0 30px;
}
.operation__wrapper__content__icon .fas:hover {
  color: #9356DC;
  transition: 300ms ease-in-out;
}

/* restaurants */
.restaurants {
  padding: 50px;
  background-color: #f5f5f5;
}
@media (min-width: 1500px) {
  .restaurants {
    padding: 50px 50px 90px 50px;
  }
}
.restaurants__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.restaurants__wrapper__content {
  width: 100%;
  background-color: #FFF;
  box-shadow: 3px 3px 12px #dfdfdf;
  border-radius: 20px;
  position: relative;
  margin-bottom: 50px;
}
@media (min-width: 600px) {
  .restaurants__wrapper__content {
    width: 48%;
  }
}
@media (min-width: 1500px) {
  .restaurants__wrapper__content {
    width: 22%;
  }
}
.restaurants__wrapper__content a {
  text-decoration: none;
  color: #333;
}
.restaurants__wrapper__content img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants__wrapper__content__new {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99E2D0;
  padding: 5px 10px;
}
.restaurants__wrapper__content__info {
  position: relative;
  padding: 15px;
}
.restaurants__wrapper__content__info .title {
  margin: 0;
}
.restaurants__wrapper__content__info .description {
  margin-top: 5px;
}
.restaurants__wrapper__content__info .fa-heart {
  position: absolute;
  top: 20px;
  right: 15px;
}

/* menus */
/* menu */
.menu {
  padding: 20px 50px;
  background-color: #f5f5f5;
}
@media (min-width: 1500px) {
  .menu {
    padding: 50px 50px 90px 50px;
  }
}
.menu__title {
  position: relative;
  display: flex;
  align-items: center;
}
.menu__title .fa-heart {
  position: absolute;
  right: 0;
}
.menu__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu__wrapper__content {
  width: 100%;
  background-color: #FFF;
  box-shadow: 3px 3px 12px #dfdfdf;
  border-radius: 20px;
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 600px) {
  .menu__wrapper__content {
    width: 48%;
  }
}
@media (min-width: 1500px) {
  .menu__wrapper__content {
    width: 22%;
  }
}
.menu__wrapper__content__new {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99E2D0;
  padding: 5px 10px;
}
.menu__wrapper__content__info {
  position: relative;
  padding: 15px 15px 0;
}
.menu__wrapper__content__info .title {
  margin: 0;
}
.menu__wrapper__content__info .description {
  margin-top: 5px;
}
.menu__wrapper__content__info .price {
  float: right;
  position: absolute;
  top: 40%;
  right: 6%;
}

/* footer */
.footer {
  padding: 50px;
  background-color: #333;
  color: #FFF;
}
.footer__wrapper {
  flex-direction: column;
}
@media (min-width: 880px) {
  .footer__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
.footer__wrapper__column {
  width: 100%;
}
@media (min-width: 880px) {
  .footer__wrapper__column {
    width: 30%;
  }
}
.footer__wrapper__column .logo__footer {
  font-family: "Shrikhand";
  font-size: 30px;
  color: #FFF;
  margin-top: 0;
}
.footer__wrapper__column__icon {
  display: flex;
}
.footer__wrapper__column__icon .fas {
  margin-right: 10px;
  color: #FFF;
  width: 7%;
}
@media (min-width: 880px) {
  .footer__wrapper__column__icon .fas {
    margin-right: 25px;
  }
}
.footer__wrapper__column--like {
  text-decoration: none;
  color: #FFF;
}

/*# sourceMappingURL=style.css.map */
