/* font */
.bigtitle{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 30px;
}

.subtitle{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 0 10px;
}

.title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
}

.menutitle{
    font-family: 'Shrikhand';
    font-weight: 200;
    font-size: 30px;
}

.description{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    margin: 0 0 10px;
}

.price{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 18px;
}

/* icons */
.fas, .far{
    color: $iconcolor;
    font-size: 25px;
}