/* searchbar */

.searchbar{
    padding: 15px 0 15px 0;
    background-color: $backgroundcolordark;
    box-shadow: 0px 5px 0px inset $lightgrey;
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        .fa-map-marker-alt{
        color: $iconcolor;
        }
        &__champ{
        margin-left: 15px;
        background: none;
        border: none;
        width: 160px;
        }
    }
}

/* discover */

.discover{
    padding: 30px 50px;
    background-color: $backgroundcolor;
    text-align: center;
    a{
        text-decoration: none;
    }
    &__button{
        padding: 5px;
        margin: 40px auto;
        width: 250px;
        color: $white;
        border-radius: 50px;
        background: $color-gradient;
        box-shadow: 0px 4px 10px #858585;
    }
}

/* operation */

.operation{
    padding: 50px;
    @include md {
        padding: $general-padding;
    }
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;
        padding-left: 20px;
        &__content{
            width: 100%;  
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            margin-bottom: 50px;
            @include sm {
                width: 48%;
            }
            @include md {
                width: 30%;
            }
            &__number{
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white;
                background-color: $color-primary;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                position: absolute;
                transform: translateX(-20px);
            }
            &__icon{
                display: flex;
                align-items: center;
                @include button-bg;
                @include button-bs;
                padding: 10px 20px;
                border-radius: 30px;
                width: 100%;
                height: 100%;
                .fas{
                    @include icon-color;
                }
            }
        }
    }
}

/* restaurants */

.restaurants{
    padding: 50px;
    background-color: $backgroundcolor;
    @include lg {
        padding: $general-padding;  
    }
    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__content{
        width: 100%;  
        background-color: $white; 
        box-shadow: $general-bs;
        border-radius: 20px;
        position: relative;
        margin-bottom: 50px;
        @include sm {
            width: 48%;
        }
        @include lg {
            width: 22%;
        }
        a{
            text-decoration: none;
            color: $black;
        }
        img{
            width: 100%;
            height: 180px;
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        &__new{
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: $color-tertiary;
            padding: 5px 10px;
        }
        &__info{
            position: relative;
            padding: 15px;
            .title{
                margin: 0;
            }
            .description{
                margin-top: 5px;
            }
            .fa-heart{
                position: absolute;
                top: 20px;
                right: 15px;
            }
        }
        }
    }
}