/* color */
$white: #FFF;
$black: #333;
$backgroundcolor: #f5f5f5;
$backgroundcolordark: #ebebeb;
$iconcolor: rgb(94, 94, 94);
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-gradient: linear-gradient(#FF79DA,#9356DC);

/* padding */
$general-padding: 50px 50px 90px 50px;

/* box-shadow */
$general-bs: 3px 3px 12px #dfdfdf;

