/* color */
$white: #FFF;
$black: #333;
$backgroundcolor: #f5f5f5;
$backgroundcolordark: #ebebeb;
$lightgrey: #dfdfdf;
$darkgrey: #b1b1b1;
$iconcolor: #5E5E5E;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-gradient: linear-gradient(#FF79DA,#9356DC);
$color-gradient-hover: linear-gradient(#fd91df,#af83e7);


/* padding */
$general-padding: 30px;
$resp-padding: 50px;


/* box-shadow */
$general-bs: 3px 3px 12px $lightgrey;
$hover-bs: 3px 3px 12px $darkgrey;
$button-bs: 0px 4px 10px #858585;
$button-hover: 0px 4px 10px #636363;


/* breakpoints */
// mobiles
$screen-sm-min: 600px;
// Tablets
$screen-md-min: 880px;
// Large tablets and desktops
$screen-lg-min: 1500px;