.footer{
    padding: 50px;
    background-color: $black;
    color: $white;
    &__wrapper{
        flex-direction: column;
        @include md {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
        &__column{
            width: 100%;
            @include md {
                width: 30%;
            }
            .logo__footer{
                font-family: 'Shrikhand';
                font-size: 30px;
                color: $white;
                margin-top: 0;
            }
            &__icon{
                display: flex;
                .fas{
                    margin-right: 10px;
                    color: $white;
                    width: 7%;
                    @include md {
                        margin-right: 25px;
                    }
                }
            }
            &--like{
                text-decoration: none;
                color: $white;
            }
        }
    }
}