.footer{
    padding: 40px 30px;
    background-color: $black;
    color: $white;
    @include md {
        padding: $resp-padding;
    }
    &__wrapper{
        flex-direction: column;
        @include md {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
        &__column{
            width: 100%;
            @include md {
                width: 30%;
            }
            .logo__footer{
                font-family: 'Shrikhand';
                font-size: 28px;
                color: $white;
                margin-top: 0;
                margin-bottom: 20px;
            }
            &__icon{
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                .fas{
                    margin-right: 10px;
                    color: $white;
                    width: 7%;
                    font-size: 20px;
                    @include sm {
                        width: 4%;
                    }
                    @include md {
                        margin-right: 25px;
                    }
                }
            }
            &--like{
                text-decoration: none;
                color: $white;
            }
            .description{
                margin: 0 0 5px 0;
            }
        }
    }
}